.main {
  /*
   * Sticky Header
   * Full Height Content
   * Sticky Footer
  */
  flex: 1 0 auto;
  flex-shrink: 0;
  width: 100%;
  margin-top: 100px;
}

.content {
  composes: centered-responsive from 'theme/util.css';
}
