/*
 * Sticky Header
 * Full Height Content
 * Sticky Footer
*/
:global html,
:global body,
:global #app {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*
 * Font backup
*/
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*
 * Font main
*/
body.fontLoaded {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
